body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #1b262c;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

button {
    background: #fff;
    color: #4F0112;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #f1f1f1;
}

section {
    padding: 20px;
    margin: 10px;
    background:  #1b262c;
    border-radius: 5px;
    color: antiquewhite;
}

section h2 {
    font-size: 2em;
    color: antiquewhite;

}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}
P, h1, h2, h3, h4{
    Color: white;
}
    @keyframes cambiacolor {
        0% { color: red; }
        25% { color: blue; }
        50% { color: green; }
        75% { color: orange; }
        100% { color: red; }
    }
    .cambio:hover{
        animation: cambiacolor 5s infinite;
}